<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.MaterialComponents.DayNight.DarkActionBar"
        tools:targetApi="31">
        <activity
            android:name=".voice_Recognition"
            android:exported="false" />
        <activity
            android:name=".Protocol_Done_Patient"
            android:exported="false" />
        <activity
            android:name=".after_login"
            android:exported="false" />
        <activity
            android:name=".Survey_Complete_Pateints"
            android:exported="false" />
        <activity
            android:name=".Protocol_10"
            android:exported="false" />
        <activity
            android:name=".Protocol_9"
            android:exported="false" />
        <activity
            android:name=".Protocol_8"
            android:exported="false" />
        <activity
            android:name=".Protocol_7"
            android:exported="false" />
        <activity
            android:name=".Protocol_6"
            android:exported="false" />
        <activity
            android:name=".Protocol_5"
            android:exported="false" />
        <activity
            android:name=".Protocol_4"
            android:exported="false" />
        <activity
            android:name=".Protocol_3"
            android:exported="false" />
        <activity
            android:name=".Protocol_2"
            android:exported="false" />
        <activity
            android:name=".Protocol_1"
            android:exported="false" />
        <activity
            android:name=".video"
            android:exported="false" />
        <activity
            android:name=".images_1"
            android:exported="false" />
        <activity
            android:name=".PatientDetailsVerification"
            android:exported="false" />
        <activity
            android:name=".login"
            android:exported="false" />
        <activity
            android:name=".read_more"
            android:exported="false" />
        <activity
            android:name=".SplashGeims"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:exported="false" />
    </application>

</manifest>